body {
    background-color: #2c3e50;
    color: #ecf0f1;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    height: 100vw;
    font-size: 15px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */

@media (min-width: 400px) {
    body {
       font-size: 15px;
        
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu {
    background-color: #fff;
    position: fixed;
    width: 100vw;
    top: 0;     
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu a {
    color: #2c3e50;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.menu a:hover {
    background-color: rgba(83, 92, 104,0.1);
    
}

.menu a:active {
    color: #38ada9;
}

.site-title {
    font-weight: bold;
    font-size: 2em;
}

.site-title,
.site-subtitle {
    text-align: center;
    padding: 10px;
    margin: 10px;
}


.site-subtitle {
    font-style: italic;
    font-size: 1.5em;
    
}

  